{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/out-and-back-outdoor.myshopify.com/products/configure/250424/edit
{% endcomment %}
{% if product.metafields.custom_fields["product_links"] != blank %}
  <div class="custom-field custom-field__product-links custom-field__type--json">
    <h3 class="custom-field--title">product_links</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["product_links"] }}
    </div>
  </div>
{% endif %}