{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/out-and-back-outdoor.myshopify.com/products/configure/249798/edit
{% endcomment %}
{% if product.metafields.custom_fields["price_range_high"] != blank %}
  <div class="custom-field custom-field__price-range-high custom-field__type--text">
    <h3 class="custom-field--title">Price Range High</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["price_range_high"] }}
    </div>
  </div>
{% endif %}