{% if product.metafields.custom_fields["brand_image_source"] != blank %}
  <div class="custom-field custom-field__brand-image-source custom-field__type--text">
    <h3 class="custom-field--title">Brand Image Source</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["brand_image_source"] }}
    </div>
  </div>
{% endif %}