<style>
    .event-landing-page-header-container {
        display: flex;
        justify-content: center;
        padding: 40px 40px;
    }
    .event-landing-page-header-text {
        color: #262262;
        line-height: normal;
        font-size: 2.0rem;
        text-align: center;
    }
    .event-shop-page-header {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 85vh;
      flex-direction: row;
      justify-content: center;
      border-bottom: 1px solid #dee2e6;
      background-color: rgb(246 246 246);
    }
    .subheader-container {
        display: flex;
        flex-direction: column;
        margin-top: 56px;
        width: 100%;
    }
    .icon-container-shop {
      display: flex;
      width: 50%;
      flex-direction: column;
      justify-content: center;
      padding: 35px 50px;
    }
    .everyone-container-shop {
      display: flex;
      width: 50%;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 35px 50px;
    }
    .event-large-text {
      text-align: flex-start;
      font-family: 'Uniform', sans-serif;
      color: #262262;
      line-height: normal;
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .event-small-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: '30px';
        color: #262262;
        font-size: 1.2em;
    }

    .event-icon-image-container {
      height: 75%;
      display: flex;
      justify-content: center;
    }
    .icon-container-image-shopping {
      height: 100%;
    }
    .header-container-image-selling {
      height: 100%;
    }
    @media (max-width: 1300px) {
        .icon-container-shop {
            padding: 0;
        }
        .event-icon-image-container {
            height: 65%;
        }
    }
    @media (max-width: 1000px) {
        .event-icon-image-container {
            height: 55%;
        }
    }
    @media (max-width: 875px) {
        .icon-container-shop {
            justify-content: center;
        }

        .event-shop-page-header {
            height: 50vh;
        }
        .event-icon-image-container {
            height: 75%;
        }
        .event-large-text {
            font-size: 1.4rem;
        }
        
    }
    @media (max-width: 768px) {
        .event-small-text {
            font-size: 1.1em;
        }
    }
    @media (max-width: 600px) {
        .event-landing-page-header-container {
            padding: 20px 30px;
        }
        .event-landing-page-header-text {
            font-size: 1.6rem;
        }
        .event-shop-page-header {
            flex-direction: column;
            height: 100%;
        }
        .icon-container-shop {
            width: 100%;
            padding: 35px 50px 0px 50px;
        }
        .everyone-container-shop {
            width: 100%;
            padding: 35px 30px;
        }
        .event-large-text {
            font-size: 1.4rem;
            margin-top: -40px
        }
        .event-small-text {
            padding: auto;
        }
        .event-small-text {
            font-size: 1.1rem;
        }
    }
</style>
<div id="event-landing-page-header" class="subheader-container">
    <div class="event-landing-page-header-container">
        <div class="event-landing-page-header-text">
            Welcome to the easiest (and most delicious) way to sell your unwanted outdoor gear.
        </div>
    </div>

    <div class="event-shop-page-header">
        <div class="icon-container-shop">
            <div class="event-icon-image-container">
                <img class="icon-container-image-shopping" src="https://cdn.shopify.com/s/files/1/0412/7840/6813/files/G4G_Logo_Straight_Over_B.png?v=1640801219"/>
            </div>
        </div>
        
        <div class="everyone-container-shop">
            <div class="event-large-text">
                Fuel your new adventures with cash and grub.
            </div>
            <div class="event-small-text">
            Looking to kick off the new year with an epic adventure but strapped for cash? Just take a look in your closet and discover your ticket to earning easy money for your unwanted gear. Out&amp;Back’s sell-back program gives you instant cash offers for your gear. PLUS…for a limited time, for each piece of gear you sell to Out&amp;Back, you’ll automatically be entered to win a FREE* Chipotle burrito party for you and your crew. 
            <div style="margin-top: 10px">Yep, we agree. 2022 is looking pretty rad and tasty.. </div>
            </div>
        </div>
    </div>
</div>