<style>
    .square-photo-background-one{
        background: url('https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Box1.png?v=1643742979') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .square-photo-background-two{
        background: url('https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Box2.png?v=1643743094') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .square-photo-background-three{
        background: url('https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Box3.png?v=1643743237') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .square-photo-background-four{
        background: url('https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Box4.png?v=1643743307') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .square-photo-background-five{
        background: url('https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Box5.png?v=1643743365') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .square-photo-background-six{
        background: url('https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Box6.png?v=1643743382') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .square-photo-background-seven{
        background: url('https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Box7.png?v=1643743424') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .square-photo-background-eight{
        background: url('https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Box8.png?v=1643743436') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .four-section-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .four-section-container-square {
        width: 25%;
        height: 14rem;
        padding: 5px 5px;
    }
    .four-section-container-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(155, 155, 155);
        padding: 10px 10px;
    }
    .four-section-large-text {
        color: #fff;
        font-size: 2rem !important;
    }
    .four-section-medium-text {
        color: #fff;
        font-size: 1.6rem !important;
    }
    .four-section-small-text {
        color: #fff;
        font-size: 1.3rem !important;
        line-height: 1.5rem;
    }
    @media (max-width: 1320px) {
        .four-section-small-text {
            font-size: 1.25rem !important;
            line-height: 1.1;
        }
    }
    @media (max-width: 1120px) {
        .four-section-medium-text {
            font-size: 1.4rem !important;
        }
        .four-section-small-text {
            font-size: 1.2rem !important;
        }
    }
    @media (max-width: 900px) {
        .four-section-container-square {
            height: 14rem;
        }
        .four-section-large-text {
            font-size: 1.8rem !important;
        }
        .four-section-medium-text {
            font-size: 1.4rem !important;
        }
    }
    @media (max-width: 768px) {
        .four-section-large-text {
            font-size: 1.7rem !important;
        }
        .four-section-medium-text {
            font-size: 1.3rem !important;
        }
        .four-section-small-text {
            font-size: 1.1rem !important;
            line-height: 1;
        }
    }
    @media (max-width: 600px) {
        .four-section-container-square {
            width: 50%;
            height: 14rem;
        }
        .four-section-large-text {
            font-size: 1.8rem !important;
        }
        .four-section-medium-text {
            font-size: 1.4rem !important;
        }
        .four-section-small-text {
            font-size: 1.1rem !important;
            line-height: 1.4;
        }
    }
</style>

<div class="about-container">
   <div class="event-about-text-container">
        <div class="about-header-text">
            CHECK OUT THE GOODS!
        </div>
    </div>
</div>
<div class="four-section-container">
    <div class="four-section-container-square">
         <div class="four-section-container-wrap" style="background-color: hsl(41deg 96% 56%);">
            <div class="four-section-large-text">
                FEB 7
            </div>
            <div class="four-section-medium-text">
                Venture Wipes 
            </div>
            <div class="four-section-small-text">
                10 ct Venture Wipes, a bag of 15ct bug defense wipes, and a branded neck gaiter.
            </div>
         </div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap square-photo-background-one"></div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap" style="background-color: hsl(208deg 80% 74%);">
            <div class="four-section-large-text">
                FEB 7
            </div>
            <div class="four-section-medium-text">
                Landfish Packs 
            </div>
            <div class="four-section-small-text">
                Free annual National Parks Pass.
            </div>
        </div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap square-photo-background-two"></div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap" style="background-color: hsl(144deg 100% 40%);">
            <div class="four-section-large-text">
                FEB 8
            </div>
            <div class="four-section-medium-text">
                McCabe’s Granola 
            </div>
            <div class="four-section-small-text">
                5 variety pack of granola from McCabe’s.
            </div>
        </div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap square-photo-background-three"></div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap" style="background-color: hsl(60deg 39% 95%);">
            <div class="four-section-large-text" style="color: hsl(208deg 80% 74%)">
                FEB 8
            </div>
            <div class="four-section-medium-text" style="color: hsl(208deg 80% 74%)">
                Gear Washers 
            </div>
            <div class="four-section-small-text" style="color: hsl(208deg 80% 74%)">
                $20 gift card for gear washing and tote bag.
            </div>
        </div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap square-photo-background-four"></div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap"style="background-color: hsl(41deg 96% 56%);">
            <div class="four-section-large-text">
                FEB 9
            </div>
            <div class="four-section-medium-text">
                LuminAID 
            </div>
            <div class="four-section-small-text">
                PackLite Max 2-in-1 Power Lantern.
            </div>
        </div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap square-photo-background-five"></div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap" style="background-color: hsl(208deg 80% 74%);">
            <div class="four-section-large-text">
                FEB 10
            </div>
            <div class="four-section-medium-text">
                Out&amp;Back 
            </div>
            <div class="four-section-small-text">
                $75 gift card for anything sold directly on our site.
            </div>
        </div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap square-photo-background-six"></div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap" style="background-color: hsl(144deg 100% 40%);">
            <div class="four-section-large-text">
                FEB 10
            </div>
            <div class="four-section-medium-text">
                Cascadia Coffee Roasters 
            </div>
            <div class="four-section-small-text">
                2 bags of craft whole been coffee.
            </div>
        </div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap square-photo-background-seven"></div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap" style="background-color: hsl(60deg 39% 95%); color: hsl(208deg 80% 74%)">
            <div class="four-section-large-text" style="color: hsl(208deg 80% 74%)">
                FEB 11
            </div>
            <div class="four-section-medium-text" style="color: hsl(208deg 80% 74%)">
                LEM Helmets
            </div>
            <div class="four-section-small-text" style="color: hsl(208deg 80% 74%)">
                Flow GelMotion® MTB Helmet.
            </div>
        </div>
    </div>

    <div class="four-section-container-square">
        <div class="four-section-container-wrap square-photo-background-eight"></div>
    </div>
</div>
