{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.price_range_low' %}
  {% include 'custom_fields.products.price_range_high' %}
  {% include 'custom_fields.products.found_details_price' %}
  {% include 'custom_fields.products.found_details_condition' %}
  {% include 'custom_fields.products.found_details_source_url' %}
  {% include 'custom_fields.products.found_details_sizes' %}
  {% include 'custom_fields.products.found_details_colors' %}
  {% include 'custom_fields.products.brand_sku' %}
  {% include 'custom_fields.products.image_brand_url' %}
  {% include 'custom_fields.products.product_links' %}
</div>