{% style %}
    .large-grid-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        background: url({{ 'obo-backpack.jpg' | asset_url }}) no-repeat;
        background-size: cover;
        height: 70vh;
    }
    .small-grid-container-wrap {
        display: flex;
    }
    .small-grid-container {
        display: flex;
        width: 50%;
        flex-direction: column;
        background: url({{ 'camping-overnight.jpg' | asset_url }}) no-repeat;
        background-size: cover;
        position: 50%;
        height: 60vh;
        margin: 0 5px 10px 5px;
    }
    .small-grid-container-right {
        display: flex;
        width: 50%;
        flex-direction: column;
        background: url({{ 'mountain-climbing.jpg' | asset_url }}) no-repeat;
        background-size: cover;
        height: 60vh;
        margin: 0 5px 10px 5px;
    }
    .grid-text-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 2;
    }
    .grid-text-container-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-grow: 2;
    }
    .grid-text {
        align-self: flex-end;
        text-align: center;
        font-family: 'Uniform', sans-serif;
        color: #F00000;
        line-height: normal;
        font-size: 2rem;
        background-color: rgba(255, 255, 255, 0.774);
        width: 35%;
        padding: 10px;
    }
    .seasonal-grid-button-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
      margin-bottom: 20px;
    }
    .seasonal-grid-button {
      display: flex;
      justify-content: center;
      width: 200px;
      margin: 0px 10px 0px 10px;
      color: #f00000;
      background-color: #fff;
      padding: 8px;
      border-radius: 5px;
      font-weight: 900;
    }
    @media (max-width: 1000px) {
        .grid-text {
            font-size: 1.5rem;
            width: 47%;
        }
    }
    @media (max-width: 768px) {
        .small-grid-container {
            height: 50vh;
        }
        .small-grid-container-right {
            height: 50vh;
        }
        .large-grid-container {
            height: 50vh;
        }
    }
    @media (max-width: 600px) {
        .small-grid-container-wrap {
            display: flex;
            flex-direction: column;
        }
        .grid-text {
            font-size: 1.3rem;
        }
        .small-grid-container {
            width: 100%;
        }
        .small-grid-container-right {
            width: 100%;
        }
    }
{% endstyle %}
<h3 class="purple textCenter">Featured Collections</h3>
<div id="seasonal-grid" class="seasonal-grid-container">

    <div class="small-grid-container-wrap">
        <div class="small-grid-container lazyload">
            <div class="grid-text-container-left">
                <div class="grid-text">
                    FOR NIGHTS SPENT UNDER THE STARS
                </div>
            </div>
            <div class="seasonal-grid-button-container">
                <a href="/collections/for-nights-spent-under-stars">
                    <div class="seasonal-grid-button">
                        SHOP THE COLLECTION
                    </div>
                </a>
            </div>
        </div>

        <div class="small-grid-container-right lazyload">
            <div class="grid-text-container">
                <div class="grid-text">
                    BACKPACKS UP TO 60% OFF
                </div>
            </div>
            <div class="seasonal-grid-button-container">
                <a href="/collections/backpacks-up-to-60-off">
                    <div class="seasonal-grid-button">
                        SHOP THE COLLECTION
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="large-grid-container lazyload">
        <div class="grid-text-container">
            <div class="grid-text">
                Duffels, Luggage and Travel Gear
            </div>
        </div>

        <div class="seasonal-grid-button-container">
                <a href="/collections/duffels-luggage-and-travel-gear">
                    <div class="seasonal-grid-button">
                        SHOP THE COLLECTION
                    </div>
                </a>
        </div>
    </div>
</div>
