<style>
    .about-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 45px 0;
    }
    .event-about-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 30% 30px 30%;
    }
    .about-header-text {
      text-align: center;
      font-family: 'Uniform', sans-serif;
      color: #262262;
      line-height: normal;
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .icon-container {
        width: 100%;
        display: flex;
        padding: 0 50px;
        justify-content: flex-start;
        padding-top: 25px;
    }
    .event-icon-wrapper {
        width: 25%;
        display: flex;
        justify-content: flex-start; 
        flex-direction: column;
        padding: 0 50px;
    }
    .icon-image-container {
        height: 40%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .icon-image {
        height: 100%;
    }
    .event-icon-text {
      text-align: center;
      font-family: 'Uniform', sans-serif;
      color: #262262;
      line-height: normal;
    }
    .large {
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    .icon-small {
        font-size: 1.1rem;
    }
    .icon-container-button {
      display: flex;
      justify-content: center;
      width: 200px;
      margin: 0px 10px 0px 10px;
      color: #fff;
      background-color: #f00000;
      padding: 8px;
      border-radius: 5px;
      font-weight: 900;
    }
    .event-icon-button-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .about-icon-slider {
        display: none;
    }
    @media (min-width: 1600px) {
        .about-header-text {
            padding: 0 20%;
        }
    }
    @media (max-width: 1100px) {
        .about-container {
            padding: 45px 0 0 0;
        }
        .icon-container {
            padding: 0;
        }
        .event-icon-wrapper {
            padding: 0 15px;
        }
        .about-icon-text-container {
            height: 45%;
        }
        .large {
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
        .icon-small {
            font-size: 1.0rem;
        }
        .event-icon-button-container {
            margin: 0 0 40px 0;
        }
        .event-icon-text p{
            line-height: 1.3rem !important;
        }
    }
    @media (max-width: 768px) {
        .event-about-text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 20% 0 20%;
            margin-bottom: 15px;
        }
        .large {
            margin-bottom: 15px;
        }
        .event-icon-button-container {
            margin-top: 40px;
        }
        .event-icon-text p{
            font-size: 1.1rem;
        }
    }
    @media (max-width: 600px) {
        .icon-container {
            display: none;
        }
        .event-icon-wrapper {
            width: 100%;
            padding: 0 40px;
            margin-bottom: 25px;
        }
        .event-about-text-container {
            padding: 35px 50px 0px 35px;
        }
        .about-header-text {
            font-size: 1.5rem;
            margin-bottom: 15px;
        }
        .magnifying-glass {
            margin-top: -40px;
        }
        .event-icon-button-container {
            margin: 30px 0;
        }
        .icon-container-button {
           width: 160px;
        }
        .small-margin {
            margin-top: -35px;
        }
        .about-icon-slider {
            display: block;
        }
    }
</style>
<div id="event-landing-page-slider" class="about-container">

    <div class="event-about-text-container">
        <div class="about-header-text">
            How Treat Yourself Works
        </div>
    </div>

    <div class="icon-container">
        <div class="event-icon-wrapper">
            <div class="icon-text large">
                FOLLOW
            </div>

            <div class="icon-image-container">
                <img class="icon-image" src="https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Follow.jpg?v=1643741652"/>
            </div>

            <div class="about-icon-text-container">
                <div class="event-icon-text">
                    <p>Follow us on our Instagram channel to access daily trivia questions.</p>
                </div>
            </div>
        </div>

        <div class="event-icon-wrapper">
            <div class="icon-text large small-margin">
                COMMENT
            </div>

            <div class="icon-image-container">
                <img class="icon-image" src="https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Comment.jpg?v=1643741767"/>
            </div>
            <div class="about-icon-text-container">
                <div class="event-icon-text">
                    <p>Answer our daily question by commenting with the correct answer on our instagram post.</p>
                </div>
            </div>
        </div>

        <div class="event-icon-wrapper">
            <div class="icon-text large">
                WIN
            </div>

            <div class="icon-image-container">
                <img class="icon-image" src="https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Win.jpg?v=1643741807"/>
            </div>
            <div class="about-icon-text-container">
                <div class="event-icon-text">
                    <p>Comment with the correct answer and follow Out&amp;Back along with the giveaway brand to have a chance at winning!</p>
                </div>
            </div>
        </div>

        <div class="event-icon-wrapper small-margin">
            <div class="icon-text large">
                ENJOY
            </div>

            <div class="icon-image-container">
                <img class="icon-image" src="https://cdn.shopify.com/s/files/1/0550/6682/0803/files/Enjoy.jpg?v=1643741831"/>
            </div>
            <div class="about-icon-text-container">
                <div class="event-icon-text">
                    <p>Enjoy killer prizes all week long, score a discount and save on epic gear at Out&amp;Back by commenting.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="about-icon-slider">
        {% include 'treat-icon-slider' %}
    </div>
    <div class="event-icon-button-container">
        <a href="https://www.instagram.com/outandbackoutdoor/">
            <div class="icon-container-button">Follow Us</div>
        </a>
    </div>
</div>