<style>
    .event-landing-page-header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 40px;
        background-color: hsl(60deg 39% 95%);
    }
    .event-landing-page-header-text {
        color: #262262;
        line-height: normal;
        font-size: 2.0rem;
        text-align: center;
    }
    .event-shop-page-header {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 85vh;
      flex-direction: row;
      justify-content: center;
      border-bottom: 1px solid #dee2e6;
      background-color: rgb(246 246 246);
    }
    .subheader-container {
        display: flex;
        flex-direction: column;
        margin-top: 56px;
        width: 100%;
    }
    .icon-container-shop {
      display: flex;
      width: 50%;
      flex-direction: column;
      justify-content: center;
      padding: 35px 50px;
    }
    .everyone-container-shop {
      display: flex;
      width: 50%;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 35px 50px;
    }
    .event-large-text {
      text-align: flex-start;
      font-family: 'Uniform', sans-serif;
      color: #262262;
      line-height: normal;
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .event-small-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: '30px';
        color: #262262;
        font-size: 1.2em;
    }

    .event-icon-image-container {
      height: 75%;
      display: flex;
      justify-content: center;
    }
    .icon-container-image-shopping {
      height: 100%;
    }
    .header-container-image-selling {
      height: 100%;
    }
    @media (max-width: 1300px) {
        .icon-container-shop {
            padding: 0;
        }
        .event-icon-image-container {
            height: 65%;
        }
    }
    @media (max-width: 1000px) {
        .event-icon-image-container {
            height: 55%;
        }
    }
    @media (max-width: 875px) {
        .icon-container-shop {
            justify-content: center;
        }

        .event-shop-page-header {
            height: 50vh;
        }
        .event-icon-image-container {
            height: 75%;
        }
        .event-large-text {
            font-size: 1.4rem;
        }
        
    }
    @media (max-width: 768px) {
        .event-small-text {
            font-size: 1.1em;
        }
    }
    @media (max-width: 600px) {
        .event-landing-page-header-container {
            padding: 20px 30px;
        }
        .event-landing-page-header-text {
            font-size: 1.6rem;
        }
        .event-shop-page-header {
            flex-direction: column;
            height: 100%;
        }
        .icon-container-shop {
            width: 100%;
            padding: 35px 50px 0px 50px;
        }
        .everyone-container-shop {
            width: 100%;
            padding: 35px 30px;
        }
        .event-large-text {
            font-size: 1.4rem;
            margin-top: -40px
        }
        .event-small-text {
            padding: auto;
        }
        .event-small-text {
            font-size: 1.1rem;
        }
    }
</style>
<div id="event-landing-page-header" class="subheader-container">
    <div class="event-landing-page-header-container">
        <div class="event-landing-page-header-text">
            SCORE EPIC PRIZES!
        </div>
        <div class="event-landing-page-header-text">
            5 days of giveaways. 8 awesome brands. No cost to play. No sign ups. Just outdoor trivia.
        </div>
    </div>

    <div class="event-shop-page-header">
        <div class="icon-container-shop">
            <div class="event-icon-image-container">
                <img class="icon-container-image-shopping" src="https://cdn.shopify.com/s/files/1/0550/6682/0803/files/TREATYOURSELF_small_130c5924-1ebf-4cf2-a9a5-3ef51514d360.png?v=1643742775"/>
            </div>
        </div>
        
        <div class="everyone-container-shop">
            <div class="event-large-text">
                Treat yourself this new year and win epic prizes daily from the coolest brands.
            </div>
            <div class="event-small-text">
                Gear up for your next adventure and treat YOURSELF this month. We’ve partnered with eight amazing brands to treat you with head to toe prizes on your upcoming adventure.
            </div>
        </div>
    </div>
</div>