<section id="content" role="main">
    
  	<div id="comingSoon">
      
      <div id="comingSoonInfo">
         <img src="https://cdn.shopify.com/s/files/1/0412/7840/6813/files/logo_white.svg?v=1603214741"/>    
      <div id="comingSoonContent">
        <h1>WE'RE COOKING UP SOMETHING BIG!</h1>
        <p>We've got something special in store for you! Hang tight while we complete the final touches. Please check back soon!</p>
      </div>
        
      </div>
     	
      <div id="bkg">
        
      </div>
      
  	</div>

</section>


<style>
  	
  	body, html{
     	height: 100%;
      width: 100%;
      padding: 0;
    }
  
  	#navbar, footer{
     	display: none; 
    }
  
  .template-index .page-container{
   	height: 100%; 
  }
  
  	#comingSoon{
		height: 100%;
      	width: 100%;
    
    }
  
  	#bkg{
      height:100%;
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("//cdn.shopify.com/s/files/1/0412/7840/6813/files/2.jpg?v=1595608381");
    }
  
  	#comingSoonInfo{
      height:100%;
      width: 50%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #262262;
    }
  
  	#comingSoonContent{
     	max-width: 800px;
      	width: 90%;
      	position: absolute;
      	top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 50px;
    }
  
  #comingSoonInfo img{
   	max-width: 250px;
    display: block;
    padding: 25px;
  }
  
  #comingSoonContent h1, #comingSoonContent p{
    color: #fff;
  }
  
  #comingSoonContent h1{
   	margin: 25px 0 10px; 
    font-size: 5vw;
    line-height: .9;
  }
  
</style>