<style>
.container{
    padding: 0px 15px 50px 15px;
}
.faq .row ul {
    text-align: left;
}
.faq .row ol {
    text-align: left;
}
.faq-text {
  font-family: 'Uniform', sans-serif;
  color: #262262 !important;
  margin-bottom: 0px !important;;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .faq-text {
    margin-top: 105px;
  }
  .container{
    padding: 0px 0px 50px 0px;
}
}
</style>
<div id="hero" style="background-image: url(//cdn.shopify.com/s/files/1/0412/7840/6813/files/7.jpg?v=1610399764.jpg)">
    <h1>{{ page.title }}</h1>
    </div>
    <div id="wave"></div>

<div class="page-width intro-pages">
<div class="grid">
    <h3 class="faq-text textCenter">On this page you'll find answers to the most commonly asked questions. Can't find what you're looking for? Shoot us a note at: <a href="customersuuport@outandbackoutdoor.com">customersupport@outandbackoutdoor.com</a></h3>
  <div class="rte">
    <div class="container">
        <div class="container-fluid faq">
            <div class="section purchase-location">
              <h5>What is Out&amp;Back? </h5>
              <div class="row">
                <p class="col-md-12">We are a marketplace, founded in Colorado focused on making the outdoors and all of the gear that comes with it more accessible and sustainable for all. We deliver a first-class experience to secondhand shopping, creating an easier, faster and more transparent shopping and selling experience. When it comes to outdoor gear, we believe you should spend less time searching and more time adventuring.</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>Why should I shop used gear?</h5>
              <div class="row">
                <p class="col-md-12">As adventurers and outdoor enthusiasts, protection and maintenance of the land we love to explore is important to us. By buying used, we can do our part in helping to protect Mother Earth by keeping gear in circulation, allowing it to stay on the trail longer versus the alternative. And as a bonus, used gear is just as high quality as new, yet for a much lower price. We think that's a win-win for all!</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>Why should I shop used gear on Out&amp;Back?</h5>
              <div class="row">
                <p class="col-md-12">At Out&amp;Back, we understand the process of shopping for used gear is not always as straightforward as it seems and can involve hours of tedious Internet searching and frustrating online negotiations. That's why we focus on simplifying and streamlining the secondary shopping experience. Out&amp;Back makes it easy to search, shop and save on used gear based on the brand, price, condition grade or other criteria that fits your needs. You can shop and sell with confidence knowing that Out&amp;Back works extensively to authentically certify products sold on our website. And if you're still not convinced, our no-hassle return policy gives you the freedom to checkout the gear for yourself. If you're not satisfied, let us know and we'll coordinate a seamless return.</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>What brands are featured on Out&amp;Back?</h5>
              <div class="row">
                <p class="col-md-12">Our inventory spans across a wide variety of the top outdoor brands including Patagonia, Mountain Hardware.</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>Are used products sold on Out&amp;Back real?</h5>
              <div class="row">
                <p class="col-md-12">Yes! Our team thoroughly reviews and validates the authenticity and quality of every product in our inventory. You can easily shop all products featured on Out&amp;Back with confidence.</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>How are used products sold on Out&amp;Back cleaned?</h5>
              <div class="row">
                <p class="col-md-12">We partner with TERSUS Solutions, a leader in textile circularity to authenticate, grade, clean and repair all items received via our sell-back program. Using their proprietary technology, TERSUS Solutions cleans and disinfects gear using recycled liquid CO2 to deliver industrial strength cleaning processes, while minimizing the environmental impact. In addition to their advanced cleaning capabilities, TERSUS Solutions is also a partner to many top Outdoor brands, building a keen eye for product authenticity and houses skilled experts in product repair. </p>
              </div>
            </div>
            
            <div class="section purchase-location">
              <h5>What do the used gear condition grades mean?</h5>
              <div class="row">
                <p class="col-md-12">
                    Out&amp;Back's condition grades keep it simple and straightforward so you know the exact condition of a product. 
                    <ul>
                        <li>New: This item has never been worn. It may or may not come with the original packaging and/or tags.</li>
                        <li>Used, Excellent: This item is like new with no visible signs of wear and tear.</li>
                        <li>Used, Good: This item has minor blemishes and aesthetic issues but no functional issues.</li>
                        <li>Used, Worn: This item may have more obvious aesthetic issues, like a tear that needs to be fixed, but still functions as it was designed.</li>
                    </ul>
                </p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>What if I can't find my color or size of a particular used gear?</h5>
              <div class="row">
                <p class="col-md-12">Our inventory is based on what's available in the market. If you happen to search for an item in a particular size or color and we don't currently have it in stock, we encourage you to keep checking back. You never know when your dream gear will be listed and ready for you to buy!</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>Who can I contact for additional questions (general inquiries or feedback)?</h5>
              <div class="row">
                <p class="col-md-12">For any general inquiries, order-specific questions, or feedback about your Out&amp;Back experience, please contact our team at <a href="info@outandbackoutdoor.com">info@outandbackoutdoor.com</a>.</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>How do I track my order?</h5>
              <div class="row">
                <p class="col-md-12">Once your order items have shipped, tracking information will be sent to the email used to submit your original order. As an alternative, you can obtain tracking details by signing in to your Out&amp;Back account or if you placed an order as a guest, you can use your order number and email address on our website to find relevant tracking details.</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>How long will it take for to receive my order? </h5>
              <div class="row">
                <p class="col-md-12">After your order is placed, there is a short processing window for our team to ensure your item(s) are ready for their next big adventure. All items are then shipped either via USPS, UPS or Fedex. Based on this, it typically takes 7-10 days for items to be received by the buyer after an order is placed. Please note that this is not a guarantee and delivery is subject to a number of external factors.</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>What is Out&amp;Back's cancellation policy?</h5>
              <div class="row">
                <p class="col-md-12">Once you’ve accepted our offer to sell an item, we’ll email you a prepaid shipping label that will need to be put on your final package and can be dropped off at any USPS location. From there, upon receiving the item, we’ll complete a final inspection of the item. Once we’ve confirmed the item’s details with those that you originally submitted, we will submit payment to you through one of our preferred payment providers - Venmo or Paypal. </p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>Where does Out&amp;Back ship to?</h5>
              <div class="row">
                <p class="col-md-12">We currently only ship within the United States. We hope to expand our shipping capabilities in the near future, so we encourage our international customers to join our newsletter for updates!</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>What if something is wrong with my order upon arrival?</h5>
              <div class="row">
                <p class="col-md-12">All products are thoroughly inspected before shipment, however if upon delivery, you find an issue or defect with the item that was not listed, please contact us at <a href="customersupport@outandbackoutdoor.com">customersupport@outandbackoutdoor.com</a> for further assistance.</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>What is your return policy?</h5>
              <div class="row">
                <p class="col-md-12">"We understand that sometimes you just don't fall in love with every piece of gear you buy. That's why we offer a 60 day return policy. We want to give you time to get to know your gear. And if you ultimately decide it's not meant to be, rest assured you can return items for any reason (limited exceptions* apply) within 60 days. 
                    *Gear must be returned in same condition as it was received and may not have sustained significant new damage or wear-and-tear.</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>How do I return my order? </h5>
              <div class="row">
                <p class="col-md-12">"Returns can be initiated online. If you have an Out&amp;Back account, you can sign in to your profile and start a return from your orders page. If you shopped as an Out&amp;Back guest, you’ll need to access your order with your order number and email address. ALT (IF returns can't be initiated via account): Returns can be initiated by contacting our customer support team <a href="customersuuport@outandbackoutdoor.com">customersupport@outandbackoutdoor.com</a>. Please provide your order number and email address used to place your original order.</p>
              </div>
            </div>
  
            <div class="section purchase-location">
              <h5>What is Out&amp;Back's warranty on gear?</h5>
              <div class="row">
                <p class="col-md-12">Items sold on our site are built for adventure and built to last. If within the first year of ownership, you experience unusual defects or issues with your item, you will be covered by our warranty and eligible either for free repairs or store credit, depending on the specific item. For additional questions, contact <a href="customersuuport@outandbackoutdoor.com">customersupport@outandbackoutdoor.com</a>.</p>
              </div>
            </div>

            <div class="section purchase-location">
                <h5>What payment options are accepted by Out&amp;Back?</h5>
                <div class="row">
                  <p class="col-md-12">Currently, we happily accept  all major credit cards and digital payment via Paypal and Google Pay. We are always looking to improve our shopping experience and would love to hear any additions you might suggest at <a href="info@outandbackoutdoor.com">info@outandbackoutdoor.com</a>!</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>How do I receive payment for selling gear to Out&amp;Back?</h5>
                <div class="row">
                    <p class="col-md-12">Simple - Venmo or Paypal. Upon accepting our offer, you’ll be asked to provide your Venmo or Paypal ID which will allow us to seamlessly transfer payment to you upon final inspection of your item at our warehouse. Friendly tip: a separate account with the specified payment vendors is required in order for you to receive payment.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>How does Out&amp;Back's Sell-Back program work?</h5>
                <div class="row">
                    <p class="col-md-12">Out&amp;Back's sell-back program is the easiest way to sell your unwanted outdoor gear. Our proprietary sell-back tool will ask you a few simple questions about your gear and within minutes, you'll receive two instant offers! One offer will pay you immediately for your gear while another offer will pay you once your gear has sold.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>What's the difference between the two types of offers that Out&amp;Back offers? </h5>
                <div class="row">
                    <p class="col-md-12">
                        <ul>
                            <li>
                                Offer Type 1: Sell TO Out&amp;Back.
                                Upon receiving and inspecting your gear, Out&amp;Back will pay you immediately based on the offer amount you accepted. This offer type pays you no matter if your gear sells or not on Out&amp;Back's website. 
                            </li>
                            <li>
                                Offer Type 2: Sell ON Out&amp;Back.
                                Upon receiving and inspecting your gear, Out&amp;Back will clean and if needed, repair your gear before featuring on our website for resale. If/when your gear sells, Out&amp;Back will pay you the original offer amount you accepted.  for your gear while another offer will pay you once your gear has sold. Either way, you make some extra cash, and your gear gets a new life of adventure and excitement - talk about a win-win situation! This offer type pays you based on if your gear sells on Out&amp;Back's website.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>How does the sell-back process work?</h5>
                <div class="row">
                    <p class="col-md-12">The process is quite simple. Once you’ve accepted our offer to sell your gear, you can expect the following:
                        <ol>
                            <li>Prepare your gear and ship to Out&amp;Back: we’ll email you a prepaid shipping label that will need to be affixed to the outside of your final package and dropped off at any USPS location.</li>
                            <li>O&amp;B receives gear and completes final inspection: upon arriving at our warehouse, our team will inspect, clean and if needed, repair gear.</li>
                            <li>Get paid: as soon as we’ve confirmed the item’s details match those that you originally submitted, we will submit payment to you through one of our preferred payment providers - Venmo or Paypal.</li>
                        </ol>
                    </p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>How long does it take until I see my gear for sale on Out&amp;Back's website?</h5>
                <div class="row">
                    <p class="col-md-12">We focus on important details like thorough cleaning and repair before any gear is available for sale. Depending on the condition of the gear, such processes can take up to 2 weeks.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>What brands of gear are accepted?</h5>
                <div class="row">
                    <p class="col-md-12">Over time we hope to purchase just about any outdoor gear but at the moment, specific items from the following brands are accepted in our sell-back program. Please note that regardless of brand, we are not accepting safety gear, climbing gear, or winter hardgoods at this time. 

                        Alps Mountaineering, Arc'teryx, ASSOS, ATTAQUER, Big Agnes, Black Diamond, Black Sheep Cycling, Burton, Camelbak, Capo, Castelli, Chrome, Columbia, Consolodated Catalog, Cotopaxi, Dakine, Deuter, Eagle Creek, Eureka, Exped, Fjallraven, Giro, Granite Gear, Gregory, Helly Hansen, Hyperlite Mountain Gear, Icebreaker, Jansport, Kelty, Klymit, MAAP, Mammut, Marmot, Mountain Equipment, Mountain Hardwear, Mountainsmith, MSR, Mystery, Ranch, Nemo, Norrona, Obermeyer, Osprey, Outdoor Research, Pacsafe, Patagonia, Pearl Izumi, POC, Prana, Rab, Rapha, REI Co-Op, Salomon, Sea to Summit, Sierra Designs, Sigr, Smartwool, The North Face, Therm-A-Rest, Thule, Timbuk2, Ultimate Direction
                        
                        For a more detailed list of type of gear accepted, spin through our sell-back tool.
                        
                        if there's a brand missing from the list that you think would be a good addition, feel free to reach out to us at info@outandbackoutdoor.com. 
                        "</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>What information do I need to have to sell-back my gear?</h5>
                <div class="row">
                    <p class="col-md-12">You'll need to submit the following details: 
                        <ol>
                            <li>Brand name.</li>
                            <li>Type of gear (pants, jacket, tent etc.)</li>
                            <li>Size and color</li>
                            <li>Condition (tears, discoloration, missing parts, etc.)</li>
                            <li>(Optional) SKU or item style name</li>
                        </ol>
                    </p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>What brands or gear are NOT accepted?</h5>
                <div class="row">
                    <p class="col-md-12">We cannot accept gear from any brand not explicitly listed in our approved brands accepted. Regardless of brand, we also cannot purchase safety gear including helmets and climbing gear of any kind (e.g., harnesses, rope, etc.). Finally, while we've heard the demand loud and clear from you, we are currently unable to purchase winter hardgoods like skis and snowboards, but are working to introduce this feature soon!</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>What condition does my gear need to be in?</h5>
                <div class="row">
                    <p class="col-md-12">We accept gear in various conditions, but it is important to note that the level of wear and tear may impact the resale value. Gear will not be accepted if it is busted -- that is, if it has any damage that inhibits the function of the item as originally intended.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>How much money will I receive for my used gear?</h5>
                <div class="row">
                    <p class="col-md-12">The calculation of your offer takes into consideration a variety of factors, including but not limited to: the brand, style, size, color, age and condition of your gear. In addition, based on how quickly you'd like to sell your gear, we present a couple different offers, allowing you to choose whatever works best for you. 
                        Want to see for yourself? We encourage you to try it out today! You're just a few clicks away from earning cash for your unwanted outdoor gear.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>How long does it take to get paid once I've sent my used gear to Out&amp;Back?</h5>
                <div class="row">
                    <p class="col-md-12">As long as there are no discrepancies between the item and the description of its condition provided in your original sell-back submission, you should receive payment within two-three business days of shipping your item! Note: processing times may be delayed due to general shipping &amp; transit delays and/or other COVID-19 -related processes.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>Do I have to pay to ship my used gear?</h5>
                <div class="row">
                    <p class="col-md-12">Nope! Upon accepting one of our offers, you will receive an email with a prepaid shipping label.  Note: ownership of shipping may be your responsibility if you choose to receive an item back after it’s already been shipped to Out&amp;Back. For oversized items, shipping ownership may vary between Out&amp;Back and the consumer.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>Does Out&amp;Back provide packaging to ship my gear?</h5>
                <div class="row">
                    <p class="col-md-12">No, however we attempt to use USPS priority shipping whenever possible which gives you access to complimentary envelopes and boxes. You can also reuse cardboard boxes from previous packages you've received.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>What happens if my item gets lost in transit to Out&amp;Back?</h5>
                <div class="row">
                    <p class="col-md-12">As long as you use the shipping label provided by Out&amp;Back and it's scanned into the USPS tracking system, your item will be covered by us should your package get lost in transit. If your trackable item never makes it to us, we will submit an insurance claim on your behalf and will reimburse you for the amount of the insurance claim minus our shipping costs. FYI - We insure items for the amount we offer you plus shipping costs.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>How does Out&amp;Back determine my offer?</h5>
                <div class="row">
                    <p class="col-md-12">Our proprietary set of tools helps us evaluate several details like product condition, color, brand and maturity. We compare such details with multiple retailers to present you with the most accurate and competitive offer in the market. In other words, we believe in fair offers for great gear.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>Can I bargain with Out&amp;Back on the selling price?</h5>
                <div class="row">
                    <p class="col-md-12">At this time, our offer is final. We like to keep things simple and avoid the back-and-forth which can take time away from being outdoors.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>Does my offer expire?</h5>
                <div class="row">
                    <p class="col-md-12">Yes. Upon receiving your offer, you will have seven (7) days to accept. After seven days, the offer will automatically expire and you will need to re-submit the item through our sell back process for a new offer.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>What happens if I send an item and it differs from how I described it?</h5>
                <div class="row">
                    <p class="col-md-12">This can happen... For example, you might have typed in the wrong item or style name by accident or there is an issue with a component on the item that you didn't notice, etc. When we receive an item that is different from what you originally submitted, one of three things can happen:
                        <ol>
                            <li>We make you another offer and you can choose to accept or decline: sometimes, we’re still interested in buying the item even though it’s different from your original request. In this case, we’ll present you with a new offer that you can kindly accept or decline. If you accept, great! We pay you, you move on. If you decline and would like your item returned, you will be financially responsible for shipping.</li>
                            <li>We don't make you another offer and you want the item returned: in some cases, the item is not something we can currently buy from you, thus aren’t able to make you another offer. In this case, you will be financially responsible for shipping.</li>
                            <li>If we don’t buy your item and you don't want it back, we donate it: if we can't buy the item from you and you aren’t interested in shipping the item back to you, we will gladly donate it on your behalf to one of our local partners who are in need of outdoor gear.</li>
                        </ol>
                    </p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>What happens to gear that is not accepted?</h5>
                <div class="row">
                    <p class="col-md-12">As long as gear is in working condition with minor visible signs of wear and tear, we are likely to accept it. You will be able to use our sellback wizard to estimate whether your gear will be accepted and how much money you can earn! Gear that is sold back using an accepted offer will not be returned to the original owner unless the item does not match the specifications that were listed in the wizard.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>What happens to the gear that I sell to Out&amp;Back?</h5>
                <div class="row">
                    <p class="col-md-12">We work with specialized experts to clean, repair and refurbish outdoor gear. Once it's ready for a new adventure, gear is listed on our website for outdoor enthusiasts to purchase for their next adventure.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>