<style>
    .paragraph-text-container {
        padding: 0 20% 0 20%;
        text-align: center;
        font-size: 1.6rem;
        color: #262262;
        line-height: 1.6;
    }
    .shopping-container-button-container {
      display: flex;
      justify-content: center;
    }
    .shopping-container-button {
      display: flex;
      justify-content: center;
      width: 200px;
      color: #fff;
      background-color: #f00000;
      padding: 8px;
      border-radius: 5px;
      font-weight: 900;
    }
    .disclaimer-container {
        padding: 40px 80px;
        display: flex;
        flex-direction: column;
    }
    .disclaimer-header-container {
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
    }
    .disclaimer-header-text {
        color: #262262;
        line-height: normal;
        font-size: 2rem;
    }
    .disclaimer-fine-print-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .disclaimer-fine-print {
        color: #888888;
        line-height: normal;
        font-size: .8em;
        font-weight: lighter !important;
        margin-bottom: 10px;
    }
    .faq-event {
        margin-top: -110px;
    }
    @media (max-width: 768px) {
        .faq-event {
            margin-top: -70px !important;
        }
    }
    @media (max-width: 600px) {
        .disclaimer-container {
            padding: 40px 40px;
        }
        .disclaimer-header-text {
            color: #262262;
            line-height: normal;
            font-size: 1.5rem;
        }
        .faq-event {
            margin-top: -70px !important;
        }
    }
</style>

{% include 'treat-yourself-landing-page-header' %}
{% include 'four-container-section'%}
{% include 'treat-yourself-landing-page-slider' %}

<div class="grid" style="background-color: rgb(233, 233, 233);">
    <h3 class="faq-text textCenter" style="padding-top:60px; color: #262262; margin-bottom: 0px !important;">Treat Yourself FAQs</h3>
    <div class="container faq-event">
        <div class="container-fluid faq">
            <div class="section purchase-location">
                <h5>How am I eligible to win? </h5>
                <div class="row">
                    <p class="col-md-12">Follow Out&amp;Back Outdoor and the partnering brand of the day on Instagram, and be the first to comment correctly on the daily trivia question! Can’t be the first to comment? We may have a few bonus prizes along the way! For additional details, <a href="#disclaimer" style="color: #f00000;">view full details.</a></p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>Can I win more than once?</h5>
                <div class="row">
                    <p class="col-md-12">Absolutely! And with a different brand giving away dope prizes each day, how could you NOT want to play?!</a></p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>How will I know if I’ve won?</h5>
                <div class="row">
                    <p class="col-md-12">We’ll be in touch with you on Instagram! After commenting correctly, we’ll confirm that you have followed both Out&amp;Back and the prize partner’s account before reaching you out to you. We’ll get your information and have a prize sent your way. There’s no sign up, no account creation, just trivia.</a>.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>When will I receive my prize?</h5>
                <div class="row">
                    <p class="col-md-12">While shipping times vary, each prize will be shipped to the winner within 72 hours upon receiving shipping information.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="disclaimer" class="disclaimer-container">
    <div class="disclaimer-header-container">
        <div class="disclaimer-header-text">TERMS AND CONDITIONS</div>
    </div>
    <div class="disclaimer-header-container">
        <div class="disclaimer-header-text" style="font-size: 1.6rem; text-align: center;">Out&amp;Back Outdoor #TreatYourself Instagram CONTEST
        </div>
    </div>
    
    <div lass="disclaimer-fine-print-container">

        <div class="disclaimer-fine-print">NO PURCHASE NECESSARY. A PURCHASE WILL NOT INCREASE YOUR CHANCES OF WINNING A PRIZE. INTERNET ACCESS REQUIRED. VOID WHERE PROHIBITED.</div>
        <div class="disclaimer-fine-print">1. ELIGIBILITY: The Out&amp;Back Outdoor #TreatYourself Instagram Contest (the “Contest”) is open only to legal US residents (lower 48 states) who are at least 18 years of age or older as of the first day of the Contest. Void in lower 48 states where prohibited or otherwise restricted by law. Employees, officers and directors of Out&amp;Back Outdoor (the “Sponsor”), Sponsor’s Brand Partners*, and their respective affiliated companies, parents and subsidiaries, and the advertising and promotion agencies of each (collectively, the “Contest Entities”), and their immediate families (defined as spouse, mother, father, sisters, brothers, sons and daughters, regardless of where they reside) and members of their households (whether related or not) are ineligible to participate in this Contest. Participation in the Contest constitutes each entrant’s, or their parent’s/legal guardian’s, as applicable, full and unconditional agreement to and acceptance of these Official Rules, including, but not limited to, entrant’s consent to receive e-mail messages from Sponsor solely in connection with the Contest and acknowledgment that this Contest is in no way sponsored, endorsed or administered by, or associated with, Facebook® or Instagram. Each Contest entrant is referred to herein as a “Participant.” All Participants under the age of majority in his/her state of residence must have the prior permission from his/her parent/legal guardian to enter.<br/> <br/> *Brand Partners include: LEM Helmets, LuminAID, Cascadia Coffee Roasters, McCabes Granola, Out&amp;Back Outdoor, VentureWipes, GearWashers, and Landfish Backpacks (TBD)</div>
        <div class="disclaimer-fine-print">The sponsor of this Sweepstakes is Out&amp;Back Outdoor, Inc. ("Sponsor"). By participating in the Sweepstakes, each Entrant unconditionally accepts and agrees to comply with and abide by these Official Rules and the decisions of Sponsor, which shall be final and binding in all respects. Sponsor is responsible for the collection, submission or processing of Entries and the overall administration of the Sweepstakes. Entrants should look solely to Sponsor with any questions, comments or problems related to the Sweepstakes. Sponsor may be reached by email at info@outandbackoutdoor.com during the Promotion Period.  Chipotle Mexican Grill is NOT a sponsor of Grub4Gear and has no affiliation or ownership in Sweepstakes. </div>
        <div class="disclaimer-fine-print">2. HOW TO ENTER CONTEST: To enter the Contest, participants must be the first to comment correctly to the Sponsor’s daily Instagram Question available on the Out&amp;Back Outdoor Instagram page (the “Submission”) while also including the hashtag #TreatYourself between 8:00 am MST and 11:59 pm MST (the “Submission Period”) each day between February 7, 2022 and  February 11, 2022 .  A new daily question will be featured every day between 8:00 am MST between February 7, 2022, and 11:59 pm MST on February 11, 2022 (the “Contest Period”). A new daily question automatically resets the contest, thus a new winner will be identified for each day a new question is featured throughout  the contest between 8:00 am MST between February 7, 2022, and 11:59 pm MST on February 11, 2022 (the “Contest Period”). Participants must follow the Out&amp;Back Outdoor Instagram account (https://instagram.com/outandbackoutdoor). All daily Submissions must be received in the Submission Period. Sponsor’s computer is the official clock for the Contest. All Submissions must meet the standards set out in these Official Rules including, but not limited to, the Submission Requirements (specified below). Limit one entry per person per day.</div>
        <div class="disclaimer-fine-print">3. SUBMISSION REQUIREMENTS:
            <br/>
            A.  The Submission must be the #TreatYourself Instagram Contest image.
            <br/>
            B. Participants agree and understand that Submissions may be made available to the public, including but not limited to posting on the Internet. Whether or not Submissions are published on the Internet, Sponsor does not guarantee any confidentiality with respect to any Submission.
            <br/>
            C. Participants are responsible for securing necessary consents, waivers, talent and location releases, and licenses for any visual and audio material contained in the Submissions.
            <br/>
            D. Submissions must comply with the Content Restrictions set forth below.
            <br/>
            G. By uploading the image the participant agrees, for zero compensation, to grant to Sponsor all intellectual property rights in the Submission and each of its constituent parts, which rights include, without limitation, the Sponsor’s right to publish, make available to the public and/or reproduce the Submission through any media available for the purpose of administering and conducting the Contest. In addition, Participant warrants that any so called “moral rights” in the Submission have been waived and Participant acknowledges and agrees that Sponsor may use any ideas from any Submission or other submitted materials, whether or not Participant has been awarded a prize in connection with any such Submission or other materials.
            <br/>
            H. Sponsor is not responsible for any expenses incurred in the production and delivery of the Submissions.
            CONTENT RESTRICTIONS: The Submission must not contain material that:
            <br/>
            1. is unlawful, harmful, offensive, threatening, abusive, harassing, invasive of privacy or publicity rights, defamatory, libelous, vulgar, obscene, pornographic, indecent, lewd, suggestive, scantily-clad, profane, hateful, racially, ethnically or otherwise objectionable or inappropriate material of any kind, including, but not limited to, any material which encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national or international law;
            <br/>
            2. may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party;
            <br/>
            3. makes reference to or involves gambling, casinos, off-track betting, or other gambling of any form;
            <br/>
            4. involves alcohol, tobacco or weaponry, or that promotes or has a connotation to any illegal activity;
            <br/>
            5. that impersonates, disguises or conceals any person or entity or otherwise misrepresents a Participant’s affiliation with a person or entity;
            <br/>
            6. displays or depicts unacceptable clothing or adornments, or displays any commercial/corporate advertising (including but not limited to corporate logos, brand names, trademarks, slogans, political, personal and religious statements);
            <br/>
            7. references persons or organizations without their written permission;
            <br/>
            8. disparages persons or organizations associated with Sponsor; or
            <br/>
            9. otherwise violates the standards of Sponsor as determined by Sponsor in its sole discretion.
            Any Submission that does not comply with the above requirements and restrictions, or any other requirement herein, is subject to disqualification and Sponsor reserves the right at its sole discretion to remove any Submission if Sponsor receives notification about any potential infringements or breaches of law or any other reason set forth herein.
            Sponsor is not responsible for lost, late, incomplete, invalid, illegible or misdirected Submissions, which will be disqualified; for technical failures of any kind, including, but not limited to, electronic malfunctioning of any network, hardware or software; any failed, incomplete, garbled or delayed computer transmissions or any combination thereof; or for any error, human, technical or otherwise; or any injury or damage to Participant’s or any other person’s computer related to or resulting from entering, participating in, or accessing or downloading information in connection with, this Contest. Sponsor reserves the right at its sole discretion to modify, cancel or suspend this Contest for any reason whatsoever including, but not limited to, a computer virus, bug, or other cause beyond the control of Sponsor. In case of dispute as to the owner of a Submission, the Submission will be deemed to have been submitted by the authorized account holder of the e-mail address from which the entry is made with the only exception being if a minor submits an entry in the name of his/her parent or legal guardian. The “authorized account holder” is the natural person assigned an e-mail address by an Internet access provider, online service provider or other organization responsible for assigning e-mail addresses for the domain associated with the submitted address. A selected Participant may be required to provide Sponsor with proof that he/she is the authorized account holder of the e-mail address associated with the selected Submission. Sponsor reserves the right, in its sole discretion, to disqualify any individual it finds tampering with the operation or entry process of the Contest, or acting in violation of these Official Rules or applicable law. Submissions delayed past the Submission Deadline will not be accepted.
            </div>
        <div class="disclaimer-fine-print">4. CONTEST WINNER SELECTION: Accepted Submissions will evaluated for accuracy. The first submission to comment correctly and including #TreatYourself to the Sponsor’s daily question will be identified as the winner. Sponsor reserves the right, in its sole discretion, to identify the official winner. </div>
        <div class="disclaimer-fine-print">This Sweepstakes is open to legal residents of the contiguous United States and Prize will only be awarded and/or delivered to addresses within said locations. All federal, state and/or local taxes, fees, and surcharges are the sole responsibility of the prize winner. Failure to comply with the Official Rules will result in forfeiture of the prize.</div>

        <div class="disclaimer-fine-print">5. PRIZES: A total of X# of Prizes will be awarded throughout the Contest. A new Prize will be awarded daily between February 7, 2022 and February 11, 2022 (“Contest Period”).Daily Prizes include: <br/>
            Day 1: 2 lucky winners will receive a bag of 10 ct Venture Wipes, a bag of 15ct bug defense wipes, and a branded neck gaiter from VentureWipes with an approximate retail value of $31.95
            <br/>
            Day 2: 1 lucky winner will receive a variety pack of 5 granola packages from McCabes Granola with an approximate value of $35.99
            <br/>
            Day 2: 1 lucky winner will receive a $20 gift card and tote bag to GearWashers with an approximate retail value of $20.00
            <br/>
            Day 3: 1 lucky winner will receive the PackLite Max 2-in-1 Power Lantern from LuminAID with an approximate value of $50.00
            <br/>
            Day 4: 1 lucky winner will receive 2 bags of coffee from Cascadia Coffee Roasters with an approximate retail value of $36.00
            <br/>
            Day 4: 1 lucky winners will receive a gift card to Out&amp;Back Outdoor with an approximate value of $50.00
            <br/>
            Day 5: 1 lucky winners will receive a FloGelMotion MTB Helmet with an approximate value of $80.00
            <br/>
            All Prize winners will be required to sign an Affidavit of Eligibility /Liability and Publicity Release (where legal).
            <br/>
            Upon receipt of any prize, each Prize Winner is required to comply with any and all applicable federal, state, and local laws, rules, and regulations. All federal, state and local taxes are solely the Prize Winner’s responsibility.
            <br/>
            If a potential Prize Winner cannot be contacted within seven (7) days of the first attempt to contact him/her, or if he/she fails to return the signed Affidavit of Eligibility/Liability and Publicity Release within seven (7) days (subject to applicable law), or if the potential Prize Winner is deemed ineligible for any other reason in Sponsor’s sole discretion, the potential Prize Winner will be disqualified and an alternate Prize Winner will be selected in his/her place as described in the Contest Winner Selection in Section 4 above.
            <br/>
            The total value of prizes available to be won in the Contest is $303.94USD.</div>

        <div class="disclaimer-fine-print">6. ODDS OF WINNING: The odds of winning depend on the number of eligible entries received.</div>
        <div class="disclaimer-fine-print">7. GENERAL: The Contest Entities reserve the right to terminate, cancel, suspend and/or modify the Contest without liability and without prior notice if any factor interferes with its operation as contemplated by these Official Rules, including but not limited to any fraud, virus or other technical problem which corrupts the administration, security, or proper operation of the Contest. CAUTION; ANY ATTEMPT BY PARTICIPANT TO DELIBERATELY DAMAGE ANY WEB SITE OR UNDERMINE THE LEGITIMATE OPERATION OF THIS CONTEST IS A VIOLATION OF CRIMINAL AND CIVIL LAW. SHOULD SUCH AN ATTEMPT BE MADE, SPONSOR RESERVES THE RIGHT TO SEEK DAMAGES FROM ANY SUCH INDIVIDUAL TO THE FULLEST EXTENT PERMITTED BY LAW. The use of automated or third party software or another web site not approved by Sponsor in order to register or enter this Contest is prohibited. Any questionable activity that increases votes for a Submission will result in disqualification or similar action. Sponsor reserves the right, in its sole discretion, to disqualify any Participant who is suspected of tampering with the Submission, voting or selection process.</div>
        <div class="disclaimer-fine-print">By participating in the Contest, Participants agree: (a) to comply with these Official Rules and the decisions of Sponsor and any third party judges including Brand Partners, which shall be binding and final in all respects; (b) to release Sponsor, Brand Partners, Instagram from all liability, loss or damage arising out of participation in the Contest or in connection with the awarding, receipt, possession, use and/or misuse of any prize; (c) to be contacted by Sponsor and/or Brand Partners by mail, telephone and/or email; and (d) that he/she acknowledges that neither Sponsor makes any warranty, representation, or guarantee, expressed or implied, in fact or in law, relative to any prize, and disclaim all liability for the provision, quality or nature of any third-party products or services provided to Prize Winners.</div>
        <div class="disclaimer-fine-print">Except in the cases of death or personal injury caused directly by the intentional misconduct or gross negligence of the Contest Entities, the Contest Entities shall have no liability and shall be released and held harmless by Participant(s) or his/her parent/legal guardian, as applicable, for any damage, loss or liability to person or property, including without limitation any claim for infringement of intellectual property rights, as a result of participation in the Contest. Participants assume all risk of loss, damage, destruction, delay or misdirection of mail or e-mail or any Submission submitted to Sponsor, including Brand Partners. All prizes are awarded upon the condition that the Contest Entities shall have no liability whatsoever, subject to the limitations set forth herein, and shall be held harmless for any injuries, losses, or damages of any kind to persons or property, including death, sustained, in whole or in part, directly or indirectly, in connection with or resulting from acceptance, possession or use/misuse of any prize, or participation in the Contest and any Contest related activities.</div>
        <div class="disclaimer-fine-print">No cash or other substitution may be made, except by Sponsor, who reserves the right, in its sole discretion, to substitute a prize with another prize of greater or equal value in the event that a prize is unavailable or cannot otherwise be awarded as described.</div>
        <div class="disclaimer-fine-print">Any and all disputes, claims and causes of action arising out of or connected with this Contest, or any prize awarded, shall be resolved individually, without resort to any form of class action, and exclusively by arbitration (where legal). Claims, judgments and awards shall be limited to actual out-of-pocket costs incurred, including costs associated with entering this Contest, but in no event attorney’s fees.</div>
        <div class="disclaimer-fine-print">Except where prohibited, all issues and questions concerning the construction, validity, interpretation and enforceability of these Official Rules, or the rights and obligations of the participant and Sponsor in connection with the Contest, shall be governed by, and construed in accordance with, the laws of the State of Colorado without giving effect to any choice of law or conflict of law rules (whether of the State of CO or any other jurisdiction). Should any provision of these Official Rules be deemed unenforceable or invalid, the other provisions of these Official Rules shall remain in full force and effect. Further, in any such dispute, under no circumstances shall participant be permitted to obtain awards for, and hereby waives all rights to, punitive, incidental, or consequential damages, including reasonable attorney’s fees, other than participant’s actual out-of-pocket expenses (i.e. costs associated with entering this Campaign). Participant further waives all rights to have damages multiplied or increased.</div>
        <div class="disclaimer-fine-print">Sponsor will be collecting personal data about entrants in accordance with its privacy policy.  Please review the Sponsor’s privacy policy  https://outandbackoutdoor.com/pages/privacy-policy.  By participating in the Sweepstakes, you hereby agree to the Sponsor’s collection and usage of your personal information and acknowledge that you have read and accepted Sponsor’s privacy policy.</div>
        <div class="disclaimer-fine-print">8. RIGHTS GRANTED BY YOU: By entering this content (e.g., photo, video, text, etc.), You understand and agree that Out&amp;Back Outdoor, anyone acting on behalf of Out&amp;Back Outdoor, and Out&amp;Back Outdoor’s Brand Partners, licensees, successors, and assigns, shall have the right, where permitted by law, to print, publish, broadcast, distribute, and use in any media now known or hereafter developed, in perpetuity and throughout the World, without limitation, your entry, name, portrait, picture, voice, likeness, image, statements about the Campaign, and biographical information for news, publicity, information, trade, advertising, public relations, and promotional purposes. without any further compensation, notice, review, or consent. Optional verbiage for Contests: By entering this content, You represent and warrant that your entry is an original work of authorship, and does not violate any third party’s proprietary or intellectual property rights. If your entry infringes upon the intellectual property right of another, You will be disqualified at the sole discretion of [your company name]. If the content of your entry is claimed to constitute infringement of any proprietary or intellectual proprietary rights of any third party, You shall, at your sole expense, defend or settle against such claims. You shall indemnify, defend, and hold harmless Out&amp;Back Outdoor and it’s Brand Partners from and against any suit, proceeding, claims, liability, loss, damage, costs or expense, which Out&amp;Back Outdoor and it’s Brand Partners may incur, suffer, or be required to pay arising out of such infringement or suspected infringement of any third party’s right.</div>
        <div class="disclaimer-fine-print">9. OFFICIAL RULES AND WINNER LIST: For a copy of the Official Rules or list of Grand Prize Winners, please send a separate, self-addressed stamped envelope to: Out&amp;Back Outdoor #TreatYourself Instagram contest, 3060 Brighton Boulevard, Denver CO 80216. Requests must be received no later than February 21, 2022, by 5pm MST.</div>
        <div class="disclaimer-fine-print">10. SPONSOR: Out&amp;Back Outdoor Inc., 3060 Brighton Boulevard, Denver CO 80216.</div>
        <div class="disclaimer-fine-print">11. OPT OUT:  If you do not wish to receive future sweepstakes and contest communications from Out&amp;Back Outdoor, please write to Out&amp;Back Outdoor, 3060 Brighton Boulevard, Denver CO 80216.</div>
    </div>

</div>
