<style>
    .paragraph-text-container {
        padding: 0 20% 0 20%;
        text-align: center;
        font-size: 1.6rem;
        color: #262262;
        line-height: 1.6;
    }
    .shopping-container-button-container {
      display: flex;
      justify-content: center;
    }
    .shopping-container-button {
      display: flex;
      justify-content: center;
      width: 200px;
      color: #fff;
      background-color: #f00000;
      padding: 8px;
      border-radius: 5px;
      font-weight: 900;
    }
    .disclaimer-container {
        padding: 40px 80px;
        display: flex;
        flex-direction: column;
    }
    .disclaimer-header-container {
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
    }
    .disclaimer-header-text {
        color: #262262;
        line-height: normal;
        font-size: 2rem;
    }
    .disclaimer-fine-print-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .disclaimer-fine-print {
        color: #888888;
        line-height: normal;
        font-size: .8em;
        font-weight: lighter !important;
        margin-bottom: 10px;
    }
    .faq-event {
        margin-top: -110px;
    }
    @media (max-width: 768px) {
        .faq-event {
            margin-top: -70px !important;
        }
    }
    @media (max-width: 600px) {
        .disclaimer-container {
            padding: 40px 40px;
        }
        .disclaimer-header-text {
            color: #262262;
            line-height: normal;
            font-size: 1.5rem;
        }
        .faq-event {
            margin-top: -70px !important;
        }
    }
</style>

{% include 'event-landing-page-header' %}
{% include 'event-landing-page-slider' %}
<div class="grid" style="background-color: rgb(233, 233, 233);">
    <h3 class="faq-text textCenter" style="padding-top:60px; color: #262262; margin-bottom: 0px !important;">Grub 4 Gear FAQs</h3>
    <div class="container faq-event">
        <div class="container-fluid faq">
            <div class="section purchase-location">
                <h5>How am I eligible to win a FREE Chipotle burrito party? </h5>
                <div class="row">
                    <p class="col-md-12">For each individual piece of gear that Out&amp;Back agrees to buy, you will automatically receive one entry into the FREE* burrito party drawing.  For additional details, <a href="#disclaimer" style="color: #f00000;">view full sweepstake details.</a></p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>Are there any fees associated with selling my gear or entering the drawing? 
                </h5>
                <div class="row">
                    <p class="col-md-12">Nope! Out&amp;Back’s sell-back tool is free to use and if you accept an offer, we provide you with a prepaid shipping label. In order to be eligible for the sweepstakes, you must successfully sell at least one piece of gear to Out&amp;Back.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>What kind of gear can I sell to Out&amp;Back?</h5>
                <div class="row">
                    <p class="col-md-12">We’re looking to buy a wide range of gear including outerwear, packs &amp; bags, tents and even cycling gear. For a complete list of accepted gear, check out <a href="/faq" style="color: #f00000;">FAQs</a>.</p>
                </div>
            </div>

            <div class="section purchase-location">
                <h5>How do you calculate my instant offer?</h5>
                <div class="row">
                    <p class="col-md-12">We look at a few details including original retail price, the current market price and condition.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="disclaimer" class="disclaimer-container">
    <div class="disclaimer-header-container">
        <div class="disclaimer-header-text">Grub4Gear - OFFICIAL RULES</div>
    </div>
    
    <div lass="disclaimer-fine-print-container">

        <div class="disclaimer-fine-print">NO PURCHASE NECESSARY TO ENTER OR WIN. MAKING A PURCHASE OR PAYMENT OF ANY KIND WILL NOT INCREASE YOUR CHANCES OF WINNING. VOID WHERE PROHIBITED OR RESTRICTED BY LAW.</div>
        <div class="disclaimer-fine-print">1. PROMOTION DESCRIPTION: The Grub4Gear (\"Sweepstakes\") begins on December 30, 2021 at 12am MST and ends on January 31, 2022 at 11:59pm MST (the \"Promotion Period\"). </div>
        <div class="disclaimer-fine-print">The sponsor of this Sweepstakes is Out&amp;Back Outdoor, Inc. ("Sponsor"). By participating in the Sweepstakes, each Entrant unconditionally accepts and agrees to comply with and abide by these Official Rules and the decisions of Sponsor, which shall be final and binding in all respects. Sponsor is responsible for the collection, submission or processing of Entries and the overall administration of the Sweepstakes. Entrants should look solely to Sponsor with any questions, comments or problems related to the Sweepstakes. Sponsor may be reached by email at info@outandbackoutdoor.com during the Promotion Period.  Chipotle Mexican Grill is NOT a sponsor of Grub4Gear and has no affiliation or ownership in Sweepstakes. </div>
        <div class="disclaimer-fine-print">2. ELIGIBILITY: Open to legal residents of the contiguous United States who are 18 years of age or older  (the \"Entrant\"). Sponsor, and their respective parents, subsidiaries, affiliates, distributors, retailers, sales representatives, advertising and promotion agencies and each of their respective officers, directors and employees (the \"Promotion Entities\"), are ineligible to enter the Sweepstakes or win a prize. Household Members and Immediate Family Members of such individuals are also not eligible to enter or win. "Household Members" shall mean those people who share the same residence at least three months a year. "Immediate Family Members" shall mean parents, step-parents, legal guardians, children, step-children, siblings, step-siblings, or spouses. This Sweepstakes is subject to all applicable federal, state and local laws and regulations and is void where prohibited or restricted by law.</div>
        <div class="disclaimer-fine-print">3. AGREEMENT TO RULES: By participating, you agree to be fully unconditionally bound by these Rules, and you represent and warrant that you meet the eligibility requirements set forth herein. In addition, you agree to accept the decisions of Out&amp;Back Outdoor, Inc., as final and binding as it relates to the content. The Sweepstakes is subject to all applicable federal, state and local laws.</div>
        <div class="disclaimer-fine-print">4. PRIZES: Grand Prize: 1 winner will receive a Chipotle, Build Your Own- Triple, Catering Party (approximate retail value or "ARV": $150).</div>
        <div class="disclaimer-fine-print"> Only one prize per person and per household will be awarded. Gift cards and gift certificates are subject to the terms and conditions of the issuer. Prizes cannot be transferred, redeemed for cash or substituted by winner. Sponsor reserves the right in its sole and absolute discretion to award a substitute prize of equal or greater value if a prize described in these Official Rules is unavailable or cannot be awarded, in whole or in part, for any reason. The ARV of the prize represents Sponsor's good faith determination. That determination is final and binding and cannot be appealed. If the actual value of the prize turns out to be less than the stated ARV, the difference will not be awarded in cash. Sponsor makes no representation or warranty concerning the appearance, safety or performance of any prize awarded. Restrictions, conditions, and limitations may apply. Sponsor will not replace any lost or stolen prize items.</div>
        <div class="disclaimer-fine-print">This Sweepstakes is open to legal residents of the contiguous United States and Prize will only be awarded and/or delivered to addresses within said locations. All federal, state and/or local taxes, fees, and surcharges are the sole responsibility of the prize winner. Failure to comply with the Official Rules will result in forfeiture of the prize.</div>

        <div class="disclaimer-fine-print">5. HOW TO ENTER: Enter the Sweepstakes during the Promotion Period online by visiting URL, and successfully submitting a sell-back submission to Sponsor which can be found on the following website at <a href="/pages/Grub4Gear" style="color: #f00000"> Grub 4 Gear</a>.</div>

        <div class="disclaimer-fine-print">For each individual piece of gear successfully sold to Out&amp;Back Outdoor, Inc., entrants will receive one entry which will automatically be entered in the Sweepstakes. A maximum of 100 entries will be accepted in Sweepstakes per person and household. </div>
        <div class="disclaimer-fine-print">Automated or robotic Entries submitted by individuals or organizations will be disqualified. Internet entry must be made by the Entrant. Any attempt by Entrant to obtain more than the stated number of Entries by using multiple/different email addresses, identities, registrations, logins or any other methods, including, but not limited to, commercial contest/sweepstakes subscription notification and/or entering services, will void Entrant's Entries and that Entrant may be disqualified. Final eligibility for the award of any prize is subject to eligibility verification as set forth below. All Entries must be posted by the end of the Promotion Period in order to participate. Sponsor's database clock will be the official timekeeper for this Sweepstakes.</div>
        <div class="disclaimer-fine-print">6. WINNER SELECTION: The Winner of the Sweepstakes will be selected in a random drawing from among all eligible Entries received throughout the Promotion Period. The random drawing will be conducted about one week (7 business days) after the Promotion Period by Sponsor or its designated representatives, whose decisions are final. Odds of winning will vary depending on the number of eligible Entries received.</div>
        <div class="disclaimer-fine-print">7. WINNER NOTIFICATION: Winner will be notified by email at the email address provided in the Entry Information approximately one week (7 business days) after the random drawing. Potential Winner must accept a prize by email as directed by Sponsor within one week (7 business days) of notification. Sponsor is not responsible for any delay or failure to receive notification for any reason, including inactive email account(s), technical difficulties associated therewith, or Winner’s failure to adequately monitor any email account.</div>
        <div class="disclaimer-fine-print">Any winner notification not responded to or returned as undeliverable may result in prize forfeiture. The potential prize winner may be required to sign and return an affidavit of eligibility and release of liability, and a Publicity Release (collectively \"the Prize Claim Documents\"). No substitution or transfer of a prize is permitted except by Sponsor.</div>
        <div class="disclaimer-fine-print">8. PRIVACY: Any personal information supplied by you will be subject to the privacy policy of the Sponsor posted at https://outandbackoutdoor.com/pages/privacy-policy. By entering the Sweepstakes, you grant Sponsor permission to share your email address and any other personally identifiable information with the other Sweepstakes Entities for the purpose of administration and prize fulfillment, including use in a publicly available Winners list. By entering this content you understand that Out&amp;Back Outdoor, Inc., anyone acting on behalf of Out&amp;Back Outdoor, Inc, or its respective licensees, successors and assigns will have the right, where permitted by law, without any further notice, review or consent to print, publish, broadcast, distribute, and use, worldwide in any media now known or hereafter in perpetuity and throughout the World, your entry, including, without limitation, the entry and winner's name, portrait, picture, voice, likeness, image or statements about the Sweepstakes, and biographical information as news, publicity or information and for trade, advertising, public relations and promotional purposes without any further compensation.</div>
        <div class="disclaimer-fine-print">9. LIMITATION OF LIABILITY: Sponsor assumes no responsibility or liability for (a) any incorrect or inaccurate entry information, or for any faulty or failed electronic data transmissions; (b) any unauthorized access to, or theft, destruction or alteration of entries at any point in the operation of this Sweepstakes; (c) any technical malfunction, failure, error, omission, interruption, deletion, defect, delay in operation or communications line failure, regardless of cause, with regard to any equipment, systems, networks, lines, satellites, servers, camera, computers or providers utilized in any aspect of the operation of the Sweepstakes; (d) inaccessibility or unavailability of any network or wireless service, the Internet or website or any combination thereof; (e) suspended or discontinued Internet, wireless or landline phone service; or (f) any injury or damage to participant's or to any other person’s computer or mobile device which may be related to or resulting from any attempt to participate in the Sweepstakes or download of any materials in the Sweepstakes.</div>
        <div class="disclaimer-fine-print">10. TERMS: If, for any reason, the Sweepstakes is not capable of running as planned for reasons which may include without limitation, infection by computer virus, tampering, unauthorized intervention, fraud, technical failures, or any other causes which may corrupt or affect the administration, security, fairness, integrity or proper conduct of this Sweepstakes, the Sponsor reserves the right at its sole discretion to cancel, terminate, modify or suspend the Sweepstakes in whole or in part. In such event, Sponsor shall immediately suspend all drawings and prize awards, and Sponsor reserves the right to award any remaining prizes (up to the total ARV as set forth in these Official Rules) in a manner deemed fair and equitable by Sponsor. Sponsor and Released Parties shall not have any further liability to any participant in connection with the Sweepstakes.</div>
        <div class="disclaimer-fine-print">Any attempt by an entrant to deliberately damage any web site or undermine the legitimate operation of the sweepstakes may be a violation of criminal and civil laws and should such an attempt be made, Out&amp;Back Outdoor, Inc. reserves the right to seek damages from any such person to the fullest extent permitted by law.</div>
        <div class="disclaimer-fine-print">By entering the Sweepstakes you agree to receive email newsletters periodically from Out&amp;Back Outdoor, Inc.. You can opt-out of receiving this communication at any time by clicking the unsubscribe link in the newsletter.</div>
        <div class="disclaimer-fine-print">11. DISPUTES: THIS SWEEPSTAKES IS GOVERNED BY THE LAWS OF The United States of America AND Colorado, WITHOUT RESPECT TO CONFLICT OF LAW DOCTRINES. As a condition of participating in this Sweepstakes, participant agrees that any and all disputes which cannot be resolved between the parties, and causes of action arising out of or connected with this Sweepstakes, shall be resolved individually, without resort to any form of class action, exclusively before a court located in Denver, Colorado having jurisdiction. Further, in any such dispute, under no circumstances will participant be permitted to obtain awards for, and hereby waives all rights to claim punitive, incidental, or consequential damages, including reasonable attorneys' fees, other than participant's actual out-of-pocket expenses (i.e. costs associated with entering this Sweepstakes), and participant further waives all rights to have damages multiplied or increased.</div>

        <div class="disclaimer-fine-print">12. WINNER LIST/OFFICIAL RULES: To obtain a copy of the Winner List or a copy of these Official Rules, send your request along with a stamped, self-addressed envelope to Out&amp;Back Outdoor, Inc. cc: Grub4Gear at 3060 Brighton Blvd, Denver CO 80216. Requests for the name of the winner must be received no later than February 21, 2022 after the Promotion Period has ended. For accessing a Winner List online, visit <a href="/pages/Grub4Gear" style="color: #f00000"> Grub 4 Gear</a>. The winner list will be posted after winner confirmation is complete.</div>
    
        <div class="disclaimer-fine-print">13. SPONSOR: Out&amp;Back Outdoor, Inc. 3060 Brighton Blvd. Denver CO  80216. <a href="mailto:info@outandbackoutdoor.com" style="color: #f00000">Info@outandbackoutdoor.com</a></div>
    </div>

</div>
